h1{
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 20px;
}

.background {
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}

.jumbotron {
    text-align: center;
    -webkit-text-fill-color: aliceblue;
    background: rgb(51, 51, 53);
}

.dropdown-menu {
    color: aliceblue;
    align-content: right;
    justify-content: right;
}

table {
    text-align: center;
}

th, tr {
    text-align: left;
}

body {
margin: 20px;
}

.wrapper {

    display: grid;
    padding-left: 40px;
    grid-template-columns: 185px 185px 185px 185px 185px;
    grid-template-rows: 278px 278px 278px 278px;
    grid-gap: 10px;
    background-color:  rgb(51, 51, 53);
    color: #444;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.input{
    text-align: center;
    color: #000000;
    background-color: #444;
    border-style: none;
    border-radius: 5px;
}

.submitButton{
    background-color: #444;
    border-style: none;
    border-radius: 5px;
}

.container {
    width: 200px;
    height: 260px;
    position: relative;
    border: 1px solid #ccc;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

.ticket {
    height: 278px;
    width: 185px;
    background: white;
    border-radius: 5px;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

.card div {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card .front {
  background: red;
}

.card .back {
    background: blue;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
