h1{
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 20px;
}

.background {
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}

.jumbotron {
    text-align: center;
    -webkit-text-fill-color: aliceblue;
    background: rgb(51, 51, 53);
}

.dropdown-menu {
    color: aliceblue;
    align-content: right;
    justify-content: right;
}

table {
    text-align: center;
}

th, tr {
    text-align: left;
}

body {
margin: 20px;
}

.wrapper {

    display: grid;
    padding-left: 40px;
    grid-template-columns: 185px 185px 185px 185px 185px;
    grid-template-rows: 330px 330px 330px 330px;
    grid-gap: 10px;
    background-color:  rgb(51, 51, 53);
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    font-size: 110%;
}


.pagination {
    display: inline-block;
}

.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.input{
    text-align: center;
    color: #000000;
    background-color: #444;
    border-style: none;
    border-radius: 5px;
}

.submitButton{
    background-color: #444;
    border-style: none;
    border-radius: 5px;
}